body * { /* global changes */
  font-family: "Segoe UI";
}

#top-half {
  text-align: center; /* for the top half, unknown if needed currently */
}

#top-left {
  display: inline-block; /* for the chart of previous winners */
}

#top-right {
  display: inline-block; /* for the total wins that year */
}

#rightColumnPrevious {
  text-align: right;
}

#tableHeadPrevious {
  border: none;
}

.main-page {
  background-image: linear-gradient(90deg, #141E30, #1f3247);
  width: 100%;       /* all this stuff and below \/ for .main-page gets the background to fill entire screen on 100% zoom */ 
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  background-size:100% 100%;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.heading-bar {
  width: 100%;
  background-image: linear-gradient(90deg, #141E30, #1f3247);
}

/* Side menu div */
.sideMenu {
  width: 0px; /* changes with JavaScript */
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(90deg, #141E30, #1f3247); /* Change this based on Tranys guidelines */
  border-right: solid 2px;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; /* 0.5 second transition effect for slide */
}

/* Menu links */
.sideMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #cff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  overflow: hidden;
}

/* When you mouse over the navigation links, change their color */
.sideMenu a:hover {
  color: #000;
  text-decoration: inherit;
}

/* Position and style close button */
.sideMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Change font of menu title */
.menuTitle {
  padding: 8px 8px 8px 32px;
  text-decoration: underline;;
  font-size: 25px;
  color: #cff;
  display: block;
  font-weight: bold;
  background-color: inherit;
}

/* Style "menu" button */
.menuButton {
  font-size: 30px;
  margin-left: 10px;
  color: #cff;
  cursor: pointer;
  width: 30px;
  display: inline-block;
}

.menuButton:hover {
  color: black;
}



.previousWinnersTable {
  padding: 5px;
  margin: 10px;
  border-radius: 20px;
  background-color: #26375a;
  text-align: left;
}

.totalWinsTable{
  padding: 5px;
  margin-bottom: 425px;
  border-radius: 20px;
  background-color: #26375a;
  text-align: center;
}

.tableBody { /* gets rid of border in columns */
  border-bottom: 0px solid #dddddd; /* aware that this looks corny, just put it in as a reminder that it can be changed */
  border-top: 0px solid #dddddd;
  /*border-collapse: collapse;*/
}

table { /* affects the entire table */
  font-family: 'Segoe UI';
  width: 600px;
  background-color: rgba(0, 0, 0, 0);
}

th, td { /* affects the individual rows in header and body */
  font-size: 18px;
  font-weight: 400;
  color: #cff;
  padding: 0px;
  width: 33.3333%;
  background-color: rgba(0, 0, 0, 0);

}

thead th { /* affects the rows in the header */
  background: #88CCF1;
  color: rgb(128, 255, 191);
  font-size: 16px;
  font-weight: 100;
  text-decoration: underline;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
}







tr { /* affects the rows in the body */
  background: #f4f7f8;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0);
  height: 59px;
  border-bottom: 1px solid #dddddd; /* aware that this looks corny, just put it in as a reminder that it can be changed */
  border-top: 1px solid #dddddd;
  border-right:1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-collapse: collapse;

}

/* changes the color of every other row */
/* aware that this looks corny, just put it in as a reminder that it can be changed */
/* tr:nth-child(even) {
    background-color: silver;
} */
